
  <h1 align="center" id="heading">
  <%= @title || "Torello" %>
  </h1>

  <div class="add-new-list">
    <form class="list-form is-idle" method="post" action="lists/new">
      <div class="add-a-list js-add-list"> Add a new list... </div>
      <div class="add-list-inputs">
        <input type="text" class="list-name-input" name="list-name" autofocus>
        <button class="add-action" type="submit" name="submit" > Add </button>
        <div class="cancel js-cancel-form"><i class="material-icons">close</i></div> 
      </div>
    </form>
  </div>

  <div class="list-container">
    <div class=" js-sortable-list">  
      <% lists.each do |list| %>
      <%= erb :"shared/_list.html", locals: {list: list} %>
    <% end  %>
  </div>  