<h1 id="heading"><%= @title || "Torello" %></h1>

<div class="list">
  <form class="update-all" action="update-all" method="post">
    <div class="list-header-container">
      <div class="list-header"><%= list.name %></div>
      <div name="list-menu">
        <button class="save hidden" name="save_all">Save</button>
      </div>
    </div>
    <ul class="js-sortable">
      <% list.items.each_with_index do |item, index| %>
        <%= erb :"shared/_item.html", locals: {item: item} %>
      <% end %>
    </ul>
  </form>
  <form class="add-item" action="/add" method="post">
    <input type="hidden" value="<%= params["sort"] %>" name="sort">
    <input type="text" name="name" class="new-item" placeholder="Add an item..." required>
  </form>
</div>