<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equip="X-UA-compatible" content="ie=edge">
    <title>Trolo App - 2.0</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/sorting.css">
  </head>
  <body style="background-color: rgb(0, 121, 191)">

    <nav class="navbar">
      <span class="open-slide" onclick="openMenu()">
         <a href="#">
           <svg width="30" height="30">
              <path d="M0,5 30,5" stroke="#fff" stroke-width="5" />
              <path d="M0,14 30,14" stroke="#fff" stroke-width="5" />
              <path d="M0,23 30,23" stroke="#fff" stroke-width="5" />
           </svg>
        </span>

        <div id="title" class="logo">
           <h1>Trolo</h1>
        </div> 
    </nav>

    <div id="side-menu" class="side-nav">
      <a href="#" class="btn-close" onclick="closeMenu()">&times;</a>
      <a href="#">Home</a>

      
      <a href="#" onclick="addList()">Add New List</a>
         <div class="add-list list">
         <form class="newform hidden" action="/newlist/name" method="post">
           <input type="text" name="id">
           <input type="submit" value="Save" class="save">
        <!-- <a class="close" onclick="closeAdd()">&times;</a> -->
        </form>
        </div>

      
      <a href="#" onclick="deList()">Delete List</a>
        <div class="delete-list list">
         <form class="delform hidden" action="/delist/name" method="post">
           <input type="text" name="id">
           <input type="submit" value="Delete" class="delete">
          <!-- <a class="close" onclick="closeDel()">&times;</a> -->
        </form>
        </div>



      <a href="#">Logout</a>
    </div>

  
    <%= yield %>

    <!-- putting all js files at the bottom of body -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/html.sortable.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>