<html>
  <head>
    <title>Trolo App - 2.0</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/sorting.css">
  </head>
  <body style="background-color: rgb(0, 121, 191)">
  
    <%= yield %>

    <!-- putting all js files at the bottom of body -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/html.sortable.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>