<html>
  <head>
    <title>Todo App - First Edition</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/item.css">
    <link rel="stylesheet" href="/css/edit-inline.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body style="background-color: rgb(0, 121, 191)">
   <%= yield %>

    <!-- putting all js files at the bottom of body -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/html.sortable.js"></script>
    <script src="js/app.js"></script>
  
</script>
  </body>
</html>
