<html>
  <head>
    <title>Todo App - First Edition</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/sorting.css">
  </head>
  <body style="background-color: rgb(0, 121, 191)">
    <%= yield %>

    <!-- putting all js files at the bottom of body -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/html.sortable.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>