body {
  font-family: Sans-serif;
}
h1 {
  color: #efefef;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  border: 1px solid #efefef;
  margin: 4px;
  padding: 6px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 0 #ccc;
}

a.sort-link imgfloat left {
  width: 100%;
  opacity: 0.3;
}

a.sort-link {
  width: 16px;
  height: 16px;
  display: inline-block;
}

a.sort-link.current img {
  opacity: 1;
}

.list-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}




.add-new-list{
    float: right;
    color: #666;
    padding: 5px;
    width: 250px;
    font-size: 0.9em;
    vertical-align: top;
    background-color: rgba(0, 0, 0, .12);

}


/*add a new list */
.add-action {  
  margin-top: 5px;
  float: left;
  color: black;
  background-color: green;
}

button.save {
  vertical-align: top;
  background-color: rgba(0, 121, 191, 0.5);
}

/*hide when no action*/
button.hidden {
  display: none;
}
